{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex flex-column min-vh-100">
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <div class="text-center" >
                    <img class="mb-4" src="{{ asset('default_images/admin.png') }}" alt="" width="200" height="200">
                    <h1 class="h3 mb-3 fw-normal">Reset your password</h1>
                    <br>

                    {{ form_start(resetForm) }}
                        {{ form_row(resetForm.plainPassword) }}
                        <button class="btn btn-primary">Reset password</button>
                    {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
