{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <form>
            <fieldset>
                <legend>Modify a trick</legend>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for media in medias %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ asset('/uploads/'~media.name) }}" alt="" >
                                <rect width="50%" height="50%" fill="#868e96"></rect>
                                <div class="text-center" >
                                    <div class="card-body">
                                        {% if is_granted('ROLE_USER') %}
                                            &nbsp
                                            <a href="" class="btn btn-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                                </svg>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                    </div>
                <br>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="title">Trick's name</label>
                    <input type="text" class="form-control" placeholder="Trick's name" id="title" value="{{ tricks.name }}">
                </div>

                <div class="form-group">
                    <label for="description" class="form-label mt-4">Description</label>
                    <textarea class="form-control" id="description" rows="3">{{ tricks.description }}</textarea>
                </div>

                <div class="form-group">
                    <label for="category" class="form-label mt-4">Trick's category</label>
                    <select class="form-select" id="category">
                        <option>Grab</option>
                        <option>Rotation</option>
                        <option>Flip</option>
                        <option>Slide</option>
                    </select>
                </div>
                <br>


                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>

{% endblock %}
