{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <article>
        <h2>{{ tricks.name }}</h2>

        <div class="metadata">Ecrit le {{ tricks.createdAt | date('d/m/y') }} a {{ tricks.createdAt | date('H:i') }}
        </div>

        <div class="content">
            {{ tricks.description }}
        </div>
    </article>
</div>

{% endblock %}

